<section class="section">

  {{ $projects := partialCached "func/GetProjects" . "projects" }}
  {{ $paginator := .Paginate $projects }}
  {{ range $index, $project := $paginator.Pages }}

    <div class="item">

      <!--<a href="{{ $project.RelPermalink }}"></a>-->

      {{ with $project.Params.thumbnail }}
        <img src="{{ $project.RelPermalink }}/{{ $project.Params.thumbnail }}">
      {{ end }}

      <h3>{{ $project.Params.title }}</h3>
      
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            {{ $project.Params.description }}
          </p>
        </div>

        {{ range .Params.tags }}
          <a class="btn btn-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}

      </div>

    </div>

  {{ end }}

</section>
