.featured-image {
  background-color: red;
  width: 80%;
  height: 200px;
  margin: 75px auto 0;
}

.featured-tags {
  margin-top: 1.5rem;
}

article {
  max-width: 850px;
  width: 100%;

  p {
    width: 100%;

    &.intro {
      font-weight: 600;
      font-size: .875rem;
      font-style: normal;
      color: inherit;
      line-height: 1.25rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
    }

    &.description {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2rem;
      padding-top: 5px;
    }
  }

  ul, ol {
    padding-bottom: 1em;
  }

  .img-zoom {
    margin: 35px auto;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    .img-zoom {
      padding: 0 20px;
      display: block;
      flex: 1;
      box-sizing: border-box; /* Include padding in the element's total width and height */

      @media screen and (max-width: $desktop) {
        padding: 0;
        width: 100%;
      }
    }

    figcaption {
      width: 100%; /* Ensure caption takes full width */
      margin: 0 auto;
      text-align: center;
      font-style: italic;
      padding-bottom: 1.5em;
      font-size: 1rem;
    }

    .video {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
