.heading-container {
  margin: 6rem 0;

  @media screen and (max-width: $desktop){
    width: 80%;
  }

  @media screen and (max-width: $tablet){
    width: 100%;
  }

  h1.hero-heading {
    font-family: 'Domaine';
    font-style: normal;
    color: var(--primary-text-color);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  
    @media screen and (max-width: $desktop) {
      font-size: 38px
    }
  
    @media screen and (max-width: $tablet) {
      font-size: 32px;
    }
  }

  p.hero-description {
    font-family: 'Domaine';
    font-size: 2rem;
    color: var(--primary-text-color);
    margin-bottom: 0;
    padding-bottom: 2rem;
  }
  
  ul.hero-links {
    list-style: none outside;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 1rem;
  
    li {
      margin: 0 1.5rem 0 0;
    }
  }
}
