/* Code syntax highlight */
@import "./chroma/light.scss";
@import "./chroma/dark.scss";

.code-block {
  line-height: 1.25rem; /* Assuming hx-leading-5 corresponds to 1.25rem */
}

.code-block pre {
  font-size: 0.9em;
  background-color: rgba(var(--background-color), 0.05);
  overflow-x: auto;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  border: 0.5px solid #333333;
}

.code-block .filename {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.85rem;
}

.code-block pre:not(.lntable pre) {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.75rem;
}

.chroma .lntable {
  margin: 0;
  display: block;
  width: auto;
  overflow: auto;
  border-radius: 0.75rem;
}

.chroma .lntable pre {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.chroma .ln,
.chroma .lnt:not(.hl > .lnt),
.chroma .hl:not(.line) {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 2.6rem;
  color: var(--neutral-600);
}

.chroma .ln[data-theme="dark"],
.chroma .lnt:not(.hl > .lnt)[data-theme="dark"],
.chroma .hl:not(.line)[data-theme="dark"] {
  color: var(--neutral-300);
}

.chroma .lntd {
  padding: 0;
  vertical-align: top;
}

.chroma .lntd:last-of-type {
  width: 100%;
}

.chroma .hl {
  display: block;
  width: 100%;
  background-color: rgba(var(--primary-800), 0.1);
}
