.grid {
  
  .item {
    display: inline-block;
    margin-top: 6rem;
  
    &:nth-of-type(1) {
      margin-top: 0;
    }

    @media screen and (min-width: $desktop) {
      width: 47%;
      margin-right: 4%;
    
      &:nth-of-type(2n) {
        margin-right: 0
      }
    
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-top: 0
      }
    }
  }
}

.item {
  position: relative;
  /* to make the entire div clickable */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  margin-top: 4rem;

  &:nth-of-type(1) {
    margin-top: 0
  }

  img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  h3 {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25px;

    a {
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  
  p {
    &.intro {
      font-weight: 600;
      font-size: .875rem;
      font-style: normal;
      color: inherit;
      text-transform: uppercase;
      letter-spacing: .1em;
      padding-bottom: 1rem;
    }

    &.description {
      font-weight: 400;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: .95em;
    }
  }

  .information-container {
    clear: both;
  }

  .align-container {
    display: inline-block;
    vertical-align: top;
  }
}

.more-content {
  margin-top: 4rem;

  @media screen and (min-width: $desktop) {
    margin-top: 0;
  }
}

.rss-feed {
  margin-top: 4rem;
}
