.nav-container {
  position: relative;
  z-index: 100;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-height: 800px) {
  .nav-container{
    padding-top: 50px;
  }
}

.logo-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 2;
}

@media screen and (max-width: 1280px) {
  .logo-link{
      left: 0
  }
}

.nav-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  a {
    margin-left: 25px;
  }
}

/*PHABLET*/
@media screen and (max-width: 540px){
  .nav-controls{
      right: -5px;
  }
}

.header-hidden {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0px;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
}
