.nav-container {
  font-family: 'Work Sans';
  position: relative;
  z-index: 100;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 2;
  border-bottom: none;

  .logo {
    @media screen and (max-width: ($phone-large - 1)) {
      display: none;
    }
  }

  .logo-small {
    @media screen and (min-width: $phone-large) {
      display: none;
    }
  }
}

.nav-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  a {
    margin-left: 25px;
    border-bottom: none;
  }
}

.header-hidden {
  position: absolute;
  display: inline-block;
  opacity: 0;
  width: 0px;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
}
