.featured-image {
  background-color: red;
  width: 80%;
  height: 200px;
  margin: 75px auto 0;
}

iframe {
  width: 80%;
  height: 200px;
  margin: 75px auto 0;
}

.description {
  font-size: 22px;
}

article {
  padding-bottom: 35px;

  p {
    line-height: 1.756;
    font-size: 18px;
    -webkit-transition: var(--color-mode-transition);
    -o-transition: var(--color-mode-transition);
    transition: var(--color-mode-transition);
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.75em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 35px auto 20px;
    width: 100%;
    max-width: 600px;
  }

  .heading-container {

    h1 {
      margin-bottom: 0;
      font-weight: 700;
    }
  }
}
