@import "vars.scss";
@import "navigation.scss";
@import "hero.scss";
@import "project.scss";

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

::-moz-selection {
  background: #c6c6c6;
  color: white;
}

::selection {
  background: #c6c6c6;
  color: white;
}

body {
  font-family: 'Arimo', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
}

a {
  color: inherit;
  font-weight: 700;
  border-bottom: 1px dashed #000;
}

a:hover {
  border-bottom: none;
  text-decoration: none;
}

.section {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;

  @media screen and (max-width: 1070px) {
    max-width: 850px;
  }

  @media screen and (max-width: 540px) {
    max-width: 100%;
    padding: 2rem;
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.hero {
  margin-bottom: 100px;
}
