@import "vars.scss";
@import "navigation.scss";
@import "hero.scss";
@import "items.scss";
@import "article.scss";
@import "buttons.scss";
@import "footer.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Inter:wght@400&display=swap');

@font-face {
  font-family: 'Domaine';
  src: url('../fonts/domaine/DomaineDisp-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Regular.woff2') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #c6c6c6;
  color: white;
}

::selection {
  background: #c6c6c6;
  color: white;
}

body {
  color: var(--secondary-text-color);
  background-color: var(--background-color);

}

p {
  font-family: 'Calibre', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Domaine', serif;
  font-weight: 400;
  color: var(--primary-text-color)
}

h1 {
  padding-bottom: 3rem;
}

h5 {
  padding-bottom: 1rem;
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary-color);

  &:hover {
    color: var(--secondary-color);
    text-decoration: none;
  }
}

.uppercase {
  font-weight: 400;
  font-size: .75rem;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: $phone) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.content {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
