@import "vars.scss";
@import "navigation.scss";
@import "hero.scss";
@import "items.scss";
@import "article.scss";
@import "buttons.scss";
@import "footer.scss";

@font-face {
  font-family: 'Roboto';
  font-display:swap;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-display:swap;
  src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: var(--selection-color);
  color: white;
}

::selection {
  background: var(--selection-color);
  color: white;
}

body {
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: var(--primary-text-color)
}

h1 {
  padding-bottom: 3rem;
}

h5 {
  padding-bottom: 1rem;
}

ul, ol {
  padding-left: 40px;
}

a {
  color: var(--secondary-text-color);
  text-decoration: underline;

  &:hover {
    color: var(--secondary-color);
  }

  &[href^="http"]:after {
      content: "\2197";
      display: inline-block;
      position: relative;
      margin-left: 0.2em;
  }
}

.uppercase {
  font-weight: 400;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.container-fluid {
  padding-left: 4rem;
  padding-right: 4rem;

  @media screen and (max-width: $desktop) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
