$phone: 440px;
$phone-large: 575px;
$tablet: 767px;
$desktop: 1070px;

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #262626;
  --primary-color: #cbffea;
  --secondary-color: #003cb4;
  --button-color: #000c21;
  --button-hover-color: #000c21;
  --background-color: #fff;
  --footer-color: #fff3f3;
  --inverted-color: #fff;
}

// #FCF6EF

[data-theme="dark"] {
  --primary-text-color: #fff;
  --secondary-text-color: #c7c7c7;
  --primary-color: #cbffea;
  --secondary-color: #003cb4;
  --button-color: #221d23;
  --button-hover-color: #2c262e;
  --background-color: #000;
  --footer-color: #000;
  --inverted-color: #fff;
}
