$phone: 440px;
$phone-large: 575px;
$tablet: 767px;
$desktop: 1070px;

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #262626;
  --primary-color: #cbffea;
  --secondary-color: #09664d;
  --button-color: #fff;
  --button-hover-color: #221d23;
  --background-color: #fff;
  --footer-color: #fff3f3;
  --inverted-text-color: #fff;
  --selection-color: #c6c6c6
}

// #FCF6EF

[data-theme="dark"] {
  --primary-text-color: #fff;
  --secondary-text-color: #c7c7c7;
  --primary-color: #cbffea;
  --secondary-color: #09664d;
  --button-color: #221d23;
  --button-hover-color: #221d23;
  --background-color: #000;
  --footer-color: #172f33cc;
  --selection-color: #09664d
}
