<!DOCTYPE html>
<html>

  {{- partial "head.html" . -}}

  <body class="content">

    {{ partial "hero.html" . }}

    {{- block "main" . }}
    {{- end }}

    {{- partial "footer.html" . -}}

    <!-- Javascript -->

    {{ $toggleColors := resources.Get "js/toggleColors.js" }}
    <script src="{{ $toggleColors.RelPermalink }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    {{ $debounce := resources.Get "js/fluidbox/jquery.ba-throttle-debounce.min.js" }}
    <script src="{{ $debounce.RelPermalink }}"></script>
    {{ $fluidbox := resources.Get "js/fluidbox/jquery.fluidbox.min.js" }}
    <script src="{{ $fluidbox.RelPermalink }}"></script>
    {{ $script := resources.Get "js/fluidbox.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <!--
    {{ $scrollingNav := resources.Get "js/scrollingNav.js" }}
    <script src="{{ $scrollingNav.RelPermalink }}"></script>
    -->
  </body>

</html>
