{{ define "main" }}

  <div class="container-fluid">

    <h1>Tagged "{{ .Data.Term }}"</h1>

    <div class="row">

      <div class="col-lg">
        {{ range .Data.Pages }}

          <div class="item">
        
            {{ with .Params.thumbnail }}
              <img src="{{ .RelPermalink }}/{{ .Params.thumbnail }}">
            {{ end }}

            <p class="intro">
              {{ .Params.date.Format "2 January 2006 15:04" }} · {{ .ReadingTime }} min
            </p>
        
            <h3>
              <a href="{{ .RelPermalink }}">{{ .Title }} →</a>
            </h3>
            
            <div class="align-container">
              <div class="information-container">
                <p class="description">
                  {{ .Description }}
                </p>
              </div>
            
            </div>
        
          </div>

        {{ end }}
      </div>

      <div class="col-lg-4">
        <div class="more-content">

          <h5>Explore more content</h3>

          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <a class="btn btn-primary" href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
          {{ end }}

        </div>
      </div>

    </div>

  </div>

{{ end }}
