<section class="section">

  {{ $posts := partialCached "func/GetPosts" . "posts" }}
  {{ $paginator := .Paginate $posts }}
  {{ range $index, $post := $paginator.Pages }}

    <div class="project">

      <a href="{{ $post.RelPermalink }}"></a>

      {{ with $post.Params.thumbnail }}
        <img src="{{ $post.RelPermalink }}/{{ $post.Params.thumbnail }}">
      {{ end }}

      <p class="intro">
        {{ $post.Params.date.Format "2 January 2006 15:04" }} · {{ $post.ReadingTime }} min
      </p>

      <h3>{{ $post.Params.title }}</h3>
      
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            {{ $post.Params.description }}
          </p>
        </div>

        {{ range .Params.tags }}
          <button type="button" class="btn btn-primary">{{ . }}</button>
        {{ end }}
      
      </div>

    </div>

  {{ end }}

</section>
