{{ $posts := partialCached "func/GetPosts" . "posts" }}
{{ $paginator := .Paginate $posts }}
{{ range $index, $post := $paginator.Pages }}

  <div class="project">

    <a href="{{ $post.RelPermalink }}"></a>

    <!--
    <div class="badges">
      {{ range .Params.tags }}
        <span class="badge badge-light">#{{ . | upper }}</span>
      {{ end }}
    </div>
    -->

    {{ with $post.Params.thumbnail }}
      <img src="{{ $post.RelPermalink }}/{{ $post.Params.thumbnail }}">
    {{ end }}

    <h3>{{ $post.Params.title }}</h3>
    
    <div class="align-container">
      <div class="information-container">
        <p class="description">
          {{ $post.Params.description }}
        </p>
      </div>
      <button type="button" class="btn btn-light">See more <span>👉</span></button>
    </div>

  </div>

{{ end }}
  