<section class="container-fluid">

  <div class="grid">

    {{ $posts := partialCached "func/GetPosts" . "posts" }}
    {{ $paginator := .Paginate $posts }}
    {{ range $index, $post := $paginator.Pages }}

      <div class="item">

        {{ with $post.Params.thumbnail }}
          <img src="{{ $post.RelPermalink }}/{{ $post.Params.thumbnail }}">
        {{ end }}

        <p class="intro">
          {{ $post.Params.date.Format "2 January 2006 15:04" }} · {{ $post.ReadingTime }} min
        </p>

        <h3>
          <a href="{{ $post.RelPermalink }}">{{ $post.Params.title }} →</a>
        </h3>
        
        <div class="align-container">
          <div class="information-container">
            <p class="description">
              {{ $post.Params.description }}
            </p>
          </div>

          {{ range .Params.tags }}
            <a class="btn btn-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        
        </div>

      </div>

    {{ end }}

  </div>

</section>
