<footer class="container-fluid">

  <!--
  <h3>Let's talk →</h3>
  -->

  <ul>
    <li>
      <a href="https://github.com/thomas-bouvier">
        GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/thomas-bouvier/">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://twitter.com/tbouvier_">
        Twitter
      </a>
    </li>
    <li>
      <a href="{{ "/index.xml" | relLangURL }}">
        RSS
      </a>
    </li>
  </ul>

  <p>
    {{ i18n "code" | safeHTML }}
  </p>

  <p>
    {{ $date := now.Format "January 2, 2006 at 15:04" }}
    {{ if eq .Site.Language.LanguageName "FR" }}
      {{ $date = (printf "%d %s %d à %dh%d" (now.Day) (index $.Site.Data.months (printf "%d" now.Month)) (now.Year) (now.Hour) (now.Minute)) }}
    {{ end }}

    {{ i18n "footer" (dict "Time" ($date) "RSS" ("/index.xml" | relLangURL)) | safeHTML }}
  </p>

</footer>
