<nav class="section">

  <div class="nav-container">
    <a class="logo-link" href="/">
      <span class="logo">{{ .Site.Params.logo }}</span>
      <span class="logo-small">{{ .Site.Params.logoSmall }}</span>
      <span class="header-hidden">Navigate back to the homepage</span>
    </a>

    <div class="nav-controls">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      {{ end }}

      <button id="themeColorButton" class="icon-wrapper"> 
        <div id="sunRays" class="sun-rays"></div>
        <div id="moonOrSun" class="moon-or-sun"></div>
        <div id="moonMask" class="moon-mask"></div>
      </button>
    </div>
  </div>

</nav>
