<section class="container-fluid">

  <div class="heading-container">

    <p class="hero-heading">
      {{ .Page.Params.hero.heading }}
    </p>

    <ul class="hero-links">
      <li>
        {{ range where .Site.Menus.main "Identifier" "projects" }}
          <a href="{{ .URL | relLangURL }}">  
            {{ .Name }}
          </a>
        {{ end }}
      </li>
      <li>
        {{ range where .Site.Menus.main "Identifier" "about" }}
          <a href="{{ .URL | relLangURL }}">  
            {{ .Name }}
          </a>
        {{ end }}
      </li>
  </div>
  
</section>
