<section id="projects">
  <div class="max-container">
    <div class="project">
      <div class="badges">
        <span class="badge badge-light">#AI</span>
        <span class="badge badge-light">#JAVA</span>
      </div>
      <h3>Smart Wumpus world</h3>
      <div class="align-container">
        <div class="information-container">
            <p class="description">
              Solution to the Wumpus world game using reinforcement learning & machine learning.
            </p>
        </div>
        <button type="button" class="btn btn-primary">Beeing developed</button>
      </div>
    </div>

    <div class="project">
      <a href="rock-n-solex.html"></a>
      <div class="badges">
        <span class="badge badge-light">#HTML/SASS</span>
        <span class="badge badge-light">#DOCKER</span>
      </div>
      <h3>Rock'n Solex website</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            This website presents Rock'n Solex, the oldest French student festival.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="insapp-server.html"></a>
      <div class="badges">
        <span class="badge badge-light">#GOLANG</span>
        <span class="badge badge-light">#MONGODB</span>
        <span class="badge badge-light">#REACT</span>
        <span class="badge badge-light">#DOCKER</span>
      </div>
      <h3>Insapp server</h3>
      <div class="align-container">
        <div class="information-container">
            <p class="description">
              Insapp is an application promoting associations within INSA Rennes. This is related to its server software.
            </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="insapp-android.html"></a>
      <div class="badges">
        <span class="badge badge-light">#APP</span>
        <span class="badge badge-light">#JAVA</span>
        <span class="badge badge-light">#KOTLIN</span>
      </div>
      <h3>Insapp Android</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            Insapp is an application promoting associations within INSA Rennes.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="floppy-bird.html"></a>
      <div class="badges">
        <span class="badge badge-light">#AI</span>
        <span class="badge badge-light">#C</span>
      </div>
      <h3>Floppy Bird</h3>
      <div class="align-container">
        <div class="information-container">
            <p class="description">
              Floppy Bird takes over the gameplay of the famous Flappy Bird, while integrating two artificial intelligence algorithms: Q-learning and a NEAT-type neural network.
            </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="auto-door.html"></a>
      <div class="badges">
        <span class="badge badge-light">#APP</span>
        <span class="badge badge-light">#REACT</span>
        <span class="badge badge-light">#RASP</span>
      </div>
      <h3>Auto-door</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            This little application written in React Native aims at remoting my parent's house garage door.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="herr-speck.html"></a>
      <div class="badges">
        <span class="badge badge-light">#JAVA</span>
      </div>
      <h3>Herr Speck</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            Herr Speck is a small tile-based game with random world generation and a dynamic light engine.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="logements.html"></a>
      <div class="badges">
        <span class="badge badge-light">#PHP</span>
        <span class="badge badge-light">#LARAVEL</span>
      </div>
      <h3>Logements INSA</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            This web application allows students from INSA Rennes to find accommodation around the campus.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <a href="junior-entreprise.html"></a>
      <div class="badges">
        <span class="badge badge-light">#HTML/CSS</span>
        <span class="badge badge-light">#DOCKER</span>
      </div>
      <h3>Junior enterprise websites</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            These showcase websites promote the junior enterprise movement.
          </p>
        </div>
        <button type="button" class="btn btn-light">See more <span>👉</span></button>
      </div>
    </div>

    <div class="project">
      <div class="badges">
        <span class="badge badge-light">#C</span>
        <span class="badge badge-light">#RASP</span>
      </div>
      <h3>LED cube</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            Making of a 4x4x4 LED cube using an Arduino Nano.
          </p>
        </div>
        <button type="button" class="btn btn-warning">Beeing written</button>
      </div>
    </div>

    <div class="project">
      <div class="badges">
        <span class="badge badge-light">#JAVA</span>
      </div>
      <h3>Super Mario Bros. clone</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            Clone of the famous platform 2D game, written in Java with libgdx.
          </p>
        </div>
        <button type="button" class="btn btn-warning">Beeing written</button>
      </div>
    </div>

    <div class="project">
      <div class="badges">
        <span class="badge badge-light">#HTML/CSS</span>
      </div>
      <h3>Un des Sens website</h3>
      <div class="align-container">
        <div class="information-container">
          <p class="description">
            Website of Un des Sens, a multicultural festival organized by students from INSA and Rennes 1.
          </p>
        </div>
        <button type="button" class="btn btn-warning">Beeing written</button>
      </div>
    </div>
  </div>
</section>