{{ $news := partialCached "func/GetNews" . "news" }}
{{ $paginator := .Paginate $news }}
{{ range $index, $news := $paginator.Pages }}

  <div class="item">

    <p class="intro">
      {{ $date := $news.Params.date.Format "January 2, 2006" }}
      {{ if eq .Site.Language.LanguageCode "fr-FR" }}
        {{ $date = (printf "%d %s %d" ($news.Params.date.Day) (index $.Site.Data.months (printf "%d" $news.Params.date.Month)) ($news.Params.date.Year)) }}
      {{ end }}

      {{ $date }}
    </p>

    <h3>
      <a href="{{ $news.RelPermalink }}">{{ $news.Params.title }} →</a>
    </h3>

  </div>

{{ end }}
